<div id="modal-full" class="invisible">
  <span class="close">x</span>
  <h2 id="mofull-h1"></h2>
  <div id="mofull-content">
    <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
  <p>
Pommy ipsum smeg head whizz morris dancers come hither, bugger codswallop gob. Taking the mick middle class bog roll bow ties are cool posh nosh off t'shop, stew and dumps taking the mick know your onions pulled a right corker 'tis.
  </p>
  </div>
</div>

<div id="cover"></div>

<form>
    <div class="center buble" id="center">
        <p>I feel...</p>
        <br>
        <!--<i class="fas fa-mouse"></i>-->
        <div id="click-tip">
          <i class="far fa-hand-pointer fa-hand-pointer-1"></i>
          <i class="fas fa-hand-pointer fa-hand-pointer-2"></i>
          <span class="ripple"></span>
        </div>
    </div>
    <div id="layer-0">
        <button class="feel-0" id="a0" type="button">Happy 
        <i class="fas fa-caret-down"></i>
        <div class="more-0 shrinkedUp"></div>
        </button>
        <button class="feel-0" id="b0" type="button">Sad 
        <i class="fas fa-caret-down"></i>
        <div class="more-0 shrinkedUp"></div>
        </button>
        <button class="feel-0" id="c0" type="button">Disgusted 
        <i class="fas fa-caret-down"></i>
        <div class="more-0 shrinkedUp"></div>
        </button>
        <button class="feel-0" id="d0" type="button">Angry 
        <i class="fas fa-caret-down"></i>
        <div class="more-0 shrinkedUp"></div>
        </button>
        <button class="feel-0" id="e0" type="button">Fearful 
        <i class="fas fa-caret-down"></i>
        <div class="more-0 shrinkedUp"></div>
        </button>
        <button class="feel-0" id="f0" type="button">Bad 
        <i class="fas fa-caret-down"></i>
        <div class="more-0 shrinkedUp"></div>
        </button>
        <button class="feel-0" id="g0" type="button">Surprised 
        <i class="fas fa-caret-down"></i>
        <div class="more-0 shrinkedUp"></div>
        </button>
    </div>
    <div id="layer-1" class="layer-1">
    </div>
    <div id="layer-2" class="layer-2">
    </div>
</form>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="fancy-goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
    </filter>
  </defs>
</svg>


<article>
<strong class="credits">Inspired by <a href="https://imgur.com/tCWChf6">Geofrey Roberts</a> Emotions Wheel</strong>
</article>