// Place all the styles related to the FeelingPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

html {
    background-color: rgb(154, 154, 154);
    overflow: hidden;
}

button:focus {
    outline: none !important;
}

body {
    margin: 0 auto;
    background: linear-gradient(#fbfbfb 33%, #e9e9e9);
    box-shadow: 0 0 3px 5px rgb(132, 132, 132);
    min-height: 800px;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    padding: 185px 20px 80px 20px;
    box-sizing: border-box;
}

article {
    margin: 0 25%;
    margin-top: 300px;
    min-width: 400px;
}

.center {
    position: absolute;
    top: 0;
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    zborder: 2px solid black;
    background-color: white;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: black;
    zbox-shadow: 0 0 5px 5px #e2e2e2;
    margin: 0 auto;
    z-index: 500;
    transition: all 0.5s ease-in;
    filter:url("#fancy-goo");
    cursor: pointer;
}

.buble {
    animation: bubleUp 0.5s linear;
    animation-delay: 0.3s;
}

@keyframes bubleUp {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(0.9);
    }
    83% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.shrinkly {
    animation: smolUp 0.6s ease-in-out;
}

.shrinkly-max {
    animation: smolUp2 0.6s ease-in;
}

@keyframes smolUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes smolUp2 {
    0% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.pointer-none {
    pointer-events: none !important;
}

[id|="layer"] {
    position: absolute;
    top: 125px;
    left: calc(50% - 50px);
    margin: 0 auto;
    margin-top: -20px;
    width: min-content;
    zfilter: drop-shadow(2px 2px 0 black) drop-shadow(2px -2px 0 black) drop-shadow(-2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}

[class|="feel"] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    zborder: 2px solid black;
    zbox-shadow: 0 0 5px 5px #e2e2e2;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.75rem;
    position: absolute;
    transition: all 0.7s ease-in, text-shadow 0s, color 0s;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
}

.selected-feel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

[class|="feel"] .fa-caret-down {
    margin-left: 10px;
    display: none;
}

.selected-feel .fa-caret-down {
    display: inline-block;
}

.selected-feel {
    padding-top: 60px;
}

.fa-mouse {
    position: relative;
    margin-top: -30px;
    opacity: 0.7;
    font-size: 2.5rem;
}

.fa-mouse:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 38%;
    background-color: white;
    top: 0;
    left: 0;
    animation: fadeInOut 1.5s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

.fa-hand-pointer-1, .fa-hand-pointer-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    transform: translate(220px, 180px) rotate(-15deg);
    color: #6e6e6e;
    font-size: 2.2rem;
    z-index: 660 !important;
    animation: stroll 2.5s infinite;
    animation-delay: 1s;
}

.fa-hand-pointer-2 {
    color: white;
    z-index: 650 !important;
}

@keyframes stroll {
    0% {
        transform: translate(220px, 180px) rotate(-15deg);
    }
    19.9% {
        transform: translate(180px, 150px) rotate(-15deg);
    }
    20% {
        transform: translate(180px, 150px) rotate(-18deg);
    }
    25% {
        transform: translate(180px, 150px) rotate(-18deg);
    }
    30% {
        transform: translate(180px, 150px) rotate(-15deg);
    }
    80% {
        transform: translate(220px, 180px) rotate(-15deg);
    }
}

.ripple {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    transform: translate(170px, 140px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    animation: ripply 2.5s infinite;
    animation-delay: 1s;
    box-shadow: 0 0 0 9px #ffffff, 0 0 0 8px #666666,0 0 0 1px #ffffff, inset 0 0 0 5px #ffffff, inset 0 0 0 3px #666666, inset 0 0 0 16px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
}

@keyframes ripply {
    0% {
        box-shadow: 0 0 0 9px #ffffff, 0 0 0 8px #666666, 0 0 0 1px #ffffff, inset 0 0 0 5px #ffffff, inset 0 0 0 3px #666666, inset 0 0 0 16px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    19.9% {
        opacity: 1;
        box-shadow: 0 0 0 9px #ffffff, 0 0 0 8px #666666, 0 0 0 1px #ffffff, inset 0 0 0 5px #ffffff, inset 0 0 0 3px #666666, inset 0 0 0 16px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    20% {
        box-shadow: 0 0 0 9px #ffffff, 0 0 0 8px #666666, 0 0 0 1px #ffffff, inset 0 0 0 5px #ffffff, inset 0 0 0 3px #666666, inset 0 0 0 15px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    25% {
        box-shadow: 0 0 0 9px #ffffff, 0 0 0 8px #666666, 0 0 0 1px #ffffff, inset 0 0 0 5px #ffffff, inset 0 0 0 3px #666666, inset 0 0 0 10px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    30% {
        box-shadow: 0 0 0 9px #ffffff, 0 0 0 8px #666666, 0 0 0 1px #ffffff, inset 0 0 0 5px #ffffff, inset 0 0 0 8px #666666, inset 0 0 0 11px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    35% {
        box-shadow: 0 0 0 9px #ffffff, 0 0 0 8px #666666, 0 0 0 1px #ffffff, inset 0 0 0 1px #ffffff, inset 0 0 0 3px #666666, inset 0 0 0 14px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    40% {
        box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #666666, 0 0 0 1px #ffffff, inset 0 0 0 0px #ffffff, inset 0 0 0 0px #666666, inset 0 0 0 16px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    45% {
        box-shadow: 0 0 0 3px #ffffff, 0 0 0 7px #666666, 0 0 0 5px #ffffff, inset 0 0 0 0px #ffffff, inset 0 0 0 0px #666666, inset 0 0 0 16px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    99% {
        opacity: 0;
        box-shadow: 0 0 0 9px #ffffff, 0 0 0 8px #666666,0 0 0 1px #ffffff, inset 0 0 0 5px #ffffff, inset 0 0 0 3px #666666, inset 0 0 0 16px #ffffff, inset 0 0 0 18px #666666, inset 0 0 0 20px #ffffff;
    }
    100% {
        opacity: 0;
        box-shadow: 0 0 0 9px #ffffff, 0 0 0 0px #666666,0 0 0 1px #ffffff, inset 0 0 0 5px #ffffff, inset 0 0 0 0px #666666, inset 0 0 0 16px #ffffff, inset 0 0 0 0px #666666, inset 0 0 0 20px #ffffff;
    }
}

#click-tip {
    transform: translate(-190px, -170px);
}


[class|="feel"]:hover {
    color: white;
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
    filter: brightness(1.1);
}

.feel-2 {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.no-trans {
    transform: translate(0, 0) !important;
    border-radius: 50%;
    opacity: 0;
    transition: transform 0.2s ease-in, opacity 1s ease-in-out;
}

[id|="layer"] .open-0:first-child {
    left: calc(200px - 1px);
    top: -20px;
    background-color: #ffff8f;
    border: 2px solid #ffff8f;
}

.happy {
    background-color: #ffff8f !important;
    border: 2px solid #ffff8f;
}

[id|="layer"] .open-0:nth-child(2) {
    left: calc(79.3px + 57px);
    top: calc(183.60px - 43px);
    background-color: #90bce1;
    border: 2px solid #90bce1;
}

.sad {
    background-color: #90bce1 !important;
    border: 2px solid #90bce1;
}

[id|="layer"] .open-0:nth-child(3) {
    left: calc(-137.11px + 107px);
    top: calc(145.60px + 47px);
    background-color: #8f8f8f;
    border: 2px solid #8f8f8f;
}

.disgusted {
    background-color: #8f8f8f !important;
    border: 2px solid #8f8f8f;
}

[id|="layer"] .open-0:nth-child(4) {
    left: calc(-188.03px + 16px);
    top: calc(-68.14px + 162px);
    background-color: #ff8f8e;
    border: 2px solid #ff8f8e;
}

.angry {
    background-color: #ff8f8e !important;
    border: 2px solid #ff8f8e;
}

[id|="layer"] .open-0:nth-child(5) {
    left: calc(-12px - 175px);
    top: calc(-199.64px + 120px);
    background-color: #ffdf8e;
    border: 2px solid #ffdf8e;
}

.fearful {
    background-color: #ffdf8e !important;
    border: 2px solid #ffdf8e;
}

[id|="layer"] .open-0:nth-child(6) {
    left: calc(178.52px - 242px);
    top: calc(-90.17px - 105px);
    background-color: #8ed9ae;
    border: 2px solid #8ed9ae;
}

.bad {
    background-color: #8ed9ae !important;
    border: 2px solid #8ed9ae;
}

[id|="layer"] .open-0:last-child {
    left: calc(153.57px - 38px);
    top: calc(128.13px - 300px);
    background-color: #bca2d1;
    border: 2px solid #bca2d1;
}

.open-1 {
    transition: all 0.4s ease-in, text-shadow 0s, color 0s;
    transition-delay: 1.5s;
    z-index: 100 !important;
    filter: saturate(1.5) contrast(1.5) brightness(0.8);
}

.open-1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 5px white;
}

.layer-1 {
    max-width: 100px;
    opacity: 0;
    transition: all 0.5s ease-in;
    transition-delay: 1s;
}

.show-layer-1 {
    transition: all 0.5s ease-in-out;
    transition-delay: 1s;
    max-width: max-content;
    opacity: 1;
}

.open-2 {
    transition: all 0.5s ease-in;
    transition-delay: 0.5s;
    z-index: 100 !important;
    filter: saturate(2) contrast(2) brightness(0.6);
}

.open-2:hover {
    box-shadow: 0 0 0 15px #ebebebb6;
    font-size: 2rem;
    z-index: -1 !important;
}

.layer-2 {
    max-width: 100px;
    opacity: 0;
}

.show-layer-2 {
    transition: all 0.1s ease-in-out;
    transition-delay: 0.3s;
    max-width: max-content;
    opacity: 1;
}

.filled-center {
    color: transparent;
}

.selected-feel {
    position: absolute;
    top: -105px !important;
    left: calc(50% - 100px) !important; 
    width: 300px;
    height: 300px;
    font-size: 3rem !important;
    z-index: 1000 !important;
}

.unselected-feel {
    top: 0 !important;
    left: 0 !important;
}

.surprised {
    background-color: #bca2d1 !important;
    border: 2px solid #bca2d1;
}

.happy, .sad, .disgusted, .angry, .fearful, .bad, .surprised {
    transition: all 0.75s ease-in;
}

form {
    width: 100%;
    position: relative;
    filter:url("#fancy-goo") drop-shadow(2px 2px 0 black) drop-shadow(2px -2px 0 black) drop-shadow(-2px 2px 0 black) drop-shadow(-2px -2px 0 black)
}

#modal-full {
    box-sizing: border-box;
    position: fixed;
    top: calc(100vh - 700px);
    left: 20%;
    margin: 0 auto;
    width: 60%;
    min-width: 400px;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-style: none;
    border-radius: 50px;
    background-color: yellowgreen;
    z-index: 1000;
    padding: 50px;
    transition: transform 0.3s ease-in, border-radius 0.5s ease-in, color 0.5s ease-in;
    transform-origin: center center;
    transform: scale(1);
    color: black;
    cursor: all-scroll;
}
#modal-ful::-webkit-scrollbar { 
    display: none;
    width: 0;
}
#modal-ful::-webkit-scrollbar-thumb { 
    background: transparent;
}

.invisible {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.1) !important;
    border-radius: 50% !important;
    color: transparent !important;
}

.close {
    font-size: 2rem;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    filter: drop-shadow(0 0 2px rgba(19, 19, 20, 0.456));
}

.cover {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.34);
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 200vw;
    top: 0;
}

.more-0 {
    box-sizing: border-box;
    width: 230px;
    height: 80px;
    font-size: 0.75rem;
    background-color: #f1f0f082;
    border: 5px solid white;
    border-radius: 20px;
    transform-origin: top center;
    transform: scaleY(1.4);
    transition: transform 0.3s ease-out;
    margin-top: -90px;
    overflow-y: scroll;
    text-align: left;
    cursor: default;
    font-family: 'Varela Round', sans-serif;
    padding: 0 15px;
}
[class|="feel"]:hover .more-0 {
    color: black;
    text-shadow: none;
}
.more-0 a {
    cursor: pointer;
    color: cornflowerblue;
}
.selected-feel-more {
    align-items: flex-start;
}

.shrinkedUp {
    transform: scaleY(0);
}

.white {
    color: white;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
}

.credits {
    position: relative;
    bottom: -100px;
}